@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.hover-opacity {
  animation: fadeIn ease-in 300ms;
  opacity: 0.8;
}

.hover-opacity:hover {
  transition: 300ms;
  opacity: 1;
}

.controls {
  /* background-color: red; */
  /* margin-bottom: -40px; */
  padding-top: 30%;

  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
}

.controls:hover {
  bottom: 0px;
  transition: 300ms;
}

.controls-top {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.controls-top:hover {
  transition: 300ms;
  background-color: rgba(255, 255, 255, 0.2);
}

#progress-bar-base {
  background-color: #040400;
  width: 100%;
}

#progress-bar-active {
  /* position: absolute; */
  background-color: red;
  width: 10%;
}

.progress-bar {
  height: 100%;
  top: -1px;
}

.progress-bar-container:hover {
  height: 6px;
  padding-bottom: 8px;
  transition: 100ms;
  opacity: 1;
}
.progress-bar-container {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  padding: 10px;
  opacity: 0.8;
}
